@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(33, 33, 33);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*body {
  color: var(--foreground);
  background-color: var(--background-color); 
  background-image: url(/.png); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  font-family: Arial, Helvetica, sans-serif;
}*/